<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ApplicationTrading</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>test.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.servlets.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/toto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InvestissorAdd</servlet-name>
    <servlet-class>com.servlets.InvestissorAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvestissorAdd</servlet-name>
    <url-pattern>/InvestissorAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OffreAdd</servlet-name>
    <servlet-class>com.servlets.OffreAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OffreAdd</servlet-name>
    <url-pattern>/invest/OffreAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SocieteAdd</servlet-name>
    <servlet-class>com.servlets.SocieteAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SocieteAdd</servlet-name>
    <url-pattern>/admin/SocieteAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SocieteAddAccueil</servlet-name>
    <servlet-class>com.servlets.SocieteAddAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SocieteAddAccueil</servlet-name>
    <url-pattern>/SocieteAddAccueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidateSociete</servlet-name>
    <servlet-class>com.servlets.ValidateSociete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateSociete</servlet-name>
    <url-pattern>/admin/validateSociete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidProfile</servlet-name>
    <servlet-class>com.servlets.ValidProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Offres</servlet-name>
    <url-pattern>/invest/Offres</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Offres</servlet-name>
    <servlet-class>com.servlets.Offres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidProfile</servlet-name>
    <url-pattern>/invest/ValidProfile</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.filters.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>